*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    height: 0;
    width: 0;
}
.vid1:hover{

}

.welcome
{
    height: 100%;
    display: grid;
    place-items: center;
    width: 100%;
    position: fixed;
    top:0px;
    z-index: 10;
    background: white;
    transition: opacity 1s;
}
[back]
{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(#f0f9ff,white);
}
.fon
{
    position: absolute;
    z-index: 5;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
@font-face {
    font-family: Corb;
    src: url("assets/corbert-condensed/The Northern Block - Corbert Condensed Medium.otf");
}

.card
{
    display: grid;
    place-items: center;
}
@media (orientation: landscape){
    .covervid
    {
        position: absolute;
        right: 0px;
        opacity: 1;
        border-radius: 20px;
        height: 800px;
        width: 800px;
        box-shadow: 2px 2px 20px 2px white;
    }
    .mainEntry{
        height: 120vh;
        width: 100vw;
        display: flex;
        align-items: start;
        overflow: hidden;
    }
    .cut{
        height: 100vh;
        width: 100vh;
        background: transparent;
        transform: rotate(180deg);
        position: absolute;
        overflow: hidden;
        top: 0px;
        left: 0px;
    }
    .circle{
        height: 200vh;
        width: 200vh;
        background: #d7d7ff;
        position: absolute;
        border-radius: 50%;
    }
    .fon
    {
        top: 300px;
        left : 300px;
    }
    .title
    {
        font-family: Corb;
        font-size : 100px;
        color: white;
        text-shadow: 2px 2px 5px #787878;
    }
    .subtitle
    {
        font-family: Consolas;
        font-size : 40px;
        color: white;
        text-shadow: 2px 2px 5px #787878;
        transform: translate(20px,100px);
    }
    .heading{
        font-family: Corb;
        font-size: 25px;
    }
    .sections
    {
        display: flex;
    }
    .card
    {
        height: 500px;
        width: 300px;
        background: white;
        box-shadow: 5px 5px 20px 1px #adadad;
        border-radius: 20px;
        margin: 40px;
        opacity: 0.7;
        transition: all 1s;
        position: relative;
    }
    .card:hover{
        opacity: 0.4;
    }
    .carda::before{
        display: grid;
        place-items: center;
        opacity: 0;
        border-radius: 20px;
        position: absolute;
        bottom: 0px;
        content: "";
        height: 0px;
        width: 300px;
        background-color: rgba(255, 107, 107, 0.51);
        transition: all 500ms;
    }
    .cardb::before{
        display: grid;
        place-items: center;
        content: "";
        opacity: 0;
        border-radius: 20px;
        position: absolute;
        bottom: 0px;
        content: "";
        height: 0px;
        width: 300px;
        background-color: rgba(255, 107, 107, 0.51);
        transition: all 500ms,  color 0s;
        color: rgba(255, 0, 0, 0);
    }
    .cardc::before{
        display: grid;
        place-items: center;
        opacity: 0;
        border-radius: 20px;
        position: absolute;
        bottom: 0px;
        content: "";
        height: 0px;
        width: 300px;
        background-color: rgba(255, 107, 107, 0.51);
        transition: all 500ms;
    }
    @keyframes latetext {
        0%{
            color: white;
        }
        60%
        {
            color: white;
        }
        100%
        {
            color: black;
        }
    }
    .carda:hover::before{
        opacity: 1;
        padding: 30px;
        font-family: Corb;
        font-size: 25px;
        content: "This Section tells about myself by which you can see my hobbies old me and see some pictures of my past.";
        animation: latetext 1s forwards;
        position: absolute;
        height: 440px;
        width: 240px;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
    }
    .cardb:hover::before{
        opacity: 1;
        padding: 30px;
        font-family: Corb;
        font-size: 25px;
        content: "In my free time, I use to search for tech and explore things. maybe you find it interesting.";
        animation: latetext 1s forwards;
        position: absolute;
        height: 440px;
        width: 240px;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
    }
    .cardc:hover::before{
        opacity: 1;
        padding: 30px;
        font-family: Corb;
        font-size: 25px;
        content: "I am very curious about my objectives. See you will also find it useful. I will do some fascinating research in future.";
        animation: latetext 1s forwards;
        position: absolute;
        height: 440px;
        width: 240px;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
    }
    .video
    {
        opacity: 0;
        transition: opacity 1s;
        height: 300px;
        width: 300px;
        border-radius: 20px;
        background: url("assets/Personal data.mp4");
    }
}
@media (orientation: portrait) {
    .covervid
    {
        position: absolute;
        top: 100vh;
        right: 0px;
        opacity: 1;
        border-radius: 20px;
        height: 100vw;
        width: 100vw;
        box-shadow: 2px 2px 30px 2px white;
    }
    .mainEntry{
        height: 150vh;
        width: 100vw;
        display: flex;
        align-items: start;
        overflow: hidden;
    }
    .cut{
        height: 200vw;
        width: 100vw;
        background: transparent;
        transform: rotate(180deg);
        position: absolute;
        overflow: hidden;
        top: 0px;
        left: 0px;
    }
    @keyframes circlepor {
        from{
            top : 0px ;
            left: 0px;
            height: 400vw;
            width: 400vw;
            background: #d7d7ff;
            position: absolute;
            transform: translate(50vw,50vh);
            border-radius: 50%;
        }
        to{
            top : 0px ;
            left: 0px;
            height: 400vw;
            width: 400vw;
            background: #d7d7ff;
            position: absolute;
            transform: translate(-40vw,0);
            border-radius: 50%;
        }
    }
    .circle{
        top : 0px ;
        left: 0px;
        height: 400vw;
        width: 400vw;
        background: #d7d7ff;
        position: absolute;
        transform: translate(-40vw,0);
        border-radius: 50%;
    }
    .fon
    {
        position: absolute;
        top: 45%;
        left:50%;
    }
    .title
    {
        font-family: Corb;
        font-size : 150px;
        color: white;
        text-shadow: 2px 2px 5px #787878;
        transform: translate(-50%,-50%);
    }
    .subtitle
    {
        font-family: Consolas;
        font-size : 50px;
        color: white;
        text-shadow: 2px 2px 5px #787878;
        transform: translate(-60%,100%);
    }
    .heading{
        display: grid;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-family: Corb;
        font-size: 60px;
        position: relative;
    }
    .per::before{
        display: grid;
        justify-content: center;
        position: absolute;
        top: 40px;
        font-size: 50px;
        left:50%;
        transform: translate(-50%,50%);
        font-family: Corb;
        text-align: center;
        content: "This Section tells about myself by which you can see my hobbies old me and see some pictures of my past.";
        width: 90%;
    }
    .res::before{
        display: grid;
        justify-content: center;
        position: absolute;
        top: 40px;
        font-size: 50px;
        left:50%;
        transform: translate(-50%,50%);
        font-family: Corb;
        text-align: center;
        content: "I am very curious about my objectives. See you will also find it useful. I will do some fascinating research in future.";
        width: 90%;
    }
    .goal::before{
        display: grid;
        justify-content: center;
        position: absolute;
        top: 40px;
        font-size: 50px;
        left:50%;
        transform: translate(-50%,50%);
        font-family: Corb;
        text-align: center;
        content: "I am very curious about my objectives. See you will also find it useful. I will do some fascinating research in future.";
        width: 90%;
    }
    .mainBox
    {
        display: grid;
    }
    .card
    {
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 85vh;
        width: 85vw;
        background: white;
        box-shadow: 5px 5px 20px 1px #adadad;
        border-radius: 20px;
        margin: 40px;
        opacity: 0.7;
    }
    .video
    {
        align-self: start;
        opacity: 0;
        justify-self: center;
        transition: opacity 1s;
        height: 80vw;
        width: 80vw;
        border-radius: 20px;
        background: url("assets/Personal data.mp4");
    }
}
.mainBox
{

    justify-content: center;
}
